.husky
.DS_Store
.browserslistrc
.editorconfig
.eslintignore
.prettierignore
.npmrc
*ignore

*.ico
*.bmp
*.drawio
*.env*
*.gif
*.jpg
*.jpeg
*.png
*.yml
*.sh

**/*.png

*.min.css
*.min.js
*.xlsx
*.conf
.yarnrc
*.prisma
*.py
*.gitattributes
*.xls
.svgrc
*.yml
*.yaml

dist
Dockerfile
LICENSE
node_modules
yarn.lock
